body 
{
    background-color:#272525;
    font-family: Arial, Sans-Serif;
    margin:10px 10px;
    text-align:center;  
    height: 93vh;
}

header {
    display: block;
    background-color: rgb(100, 92, 92);
    height:10%;
    border-radius:10px;
}

div {
    display: block;
    height: 80%;
}

footer {
    display: block;
    background-color: rgb(100, 92, 92);
    height:10%;
    border-radius:10px;
}

nav {
    background-color: rgb(100, 92, 92);
    width: 25%;
    height: 100%;
    float: left;
    border-radius: 10px;
    margin: 10px 0px;
}

section {
    background-color: rgb(100, 92, 92);
    width: 47%;
    height: 100%;
    display: inline-block;
    border-radius: 10px;
    margin: 10px 10px;
}

aside {
    background-color: rgb(100, 92, 92);
    width: 25%;
    height: 100%;
    float: right;
    border-radius: 10px;
    margin: 10px 0px;
}

section header {
    background-color: rgb(167, 155, 155);
    height: 10%;
    display: block;
    margin: 0px 10px;
}

section article {
    background-color: rgb(167, 155, 155);
    height: 62%;
    display: block;
    margin: 0px 10px;
    border-radius: 10px;
}

section footer {
    background-color: rgb(167, 155, 155);
    height: 10%;
    display: block;
    margin: 0px 10px;
}